[Unit]
Description=v4l2rtspserver camera serice

[Service]
ExecStart=v4l2rtspserver -W 1920 -H 1080 -F 24
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
